@page "/"

<PageTitle>Home</PageTitle>
<link href="css/home.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

<style>
 body {
    background-image: url('images/rate.jpg');
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

</style>


<body>
    <section class="first">
        <div class="predict">
            <h1 class="title-hist">Historical Currency Converter</h1>
            <p class="pred mt-3">
                Our system is a Currency Converter web app that allows users to quickly and accurately convert currencies, with the added feature of selecting specific dates to access historical exchange rates.
            </p>
            <a href="/convert" class="button-link">Try Now</a>
        </div>

        <p class="author">Manon-og | Guanzon | Tampus</p>
    </section> 

</body>
